body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    background-size:cover;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #256670;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50px;
}

.App {
  background-image: url(./images/forest-birds-eye-view-copy.jpg);

  height: 100%; 
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  position: relative;
}

.product {
  vertical-align: middle;
}

.productItem {
  width: 27%;
  height: 330px;
  background-color: #1e425e;
  color:#F4B95F;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 30px;
  transition: 0.5s ease;
}

.productItem:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.homepageItemCard {
  width: 25%;
  transition: 0.5s ease;
  margin:30px;
}

.homepageCard {
  height: 330px;
  background-color: #1e425e;
  color:#F4B95F;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 30px;
}

.homepageItemCard:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0);
}

.product_des {
  text-align: left;
  /* color: #ade28a; */
  font-size: medium;
  /* font-weight: lighter; */
  /* background-color: #1e425e;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px; */
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.h1 {
  color: #F4B95F;
}

.header{
  /* width: 100%; */
  height: 130px;
  margin-bottom: 20px;
  /* left: 0px; */
  /* top: 0px; */

  background: #1e425e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  /* position: fixed; */
  /* width: 700px; */
  /* height: 140px; */
  /* left: 50px; */
  /* display: absolute;
  top: 50%; */
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  /* font-family: Arial; */
  /* font-style: normal; */
  /* font-weight: bold; */
  font-size: 50px;
  line-height: 116.19%;
  text-decoration: none;

  /* display: flex; */
  /* align-items: left; */
  /* text-align: center; */
  /* color: #F4B95F; */
  color: #EB7035;
}

.links {
  margin: 20px;
}

.headerButtons {
  position: relative;
  width: 157px;
  height: 61px;
  top: 36px;
  

  /* font-family: Arial; */
  font-style: normal;
  /* font-weight: bold; */
  font-size: 25px;
  line-height: 116.19%;

  /* display: flex; */
  /* align-items: right; */
  text-align: center;

  color: #ade28a;
}

.btn{
  display: inline-block;
  background: #1e425e;
  color: #F4B95F;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.product_name {
  font-size: large;
  left: 100px;
  height: 50px;
  /* background: #edfa8b;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px; */
  padding-top: 12px;
  margin-top: 8px;
  margin-bottom: 2px;
}

.product_price {
  left: 100px;
  /* background: #ade28a;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px; */
  margin: auto;
  width: 60px;
}

.banner {
  /* font-family: Arial; */
  font-style: normal;
  /* font-weight: bold; */
  font-size: 30px;
  color: #F4B95F;
  background: #1e425e;
  border-radius: 50px;
  text-align: center;
  line-height: 70px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.searchProductBtn {
  margin-bottom: 30px;
  position: relative;
  width: 20%;
  margin-left: 75% !important;
}

.moreTabsDropdown {
  position: relative;
  margin-left: 64.75%;
  margin-bottom: 30px;
}

.searchByCategoryBtn {
  margin-bottom: 30px;
  position: relative;
  width: 20%;
  margin-left: 75% !important;
}

.description {
  /* font-family: Arial; */
  font-style: normal;
  /* font-weight: lighter; */
  /* font-weight: bold; */
  font-size: 18px;
  color: #F4B95F;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #1e425e;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 15px;
}

.homepage {
  background: #ee82ee;
}


.form-control {
    margin: 0px auto;
    width: 500px;
    height: 50px;
}

.search-bar{
  height: 70%;
  width: 100%;
  
  background: #EFFBFF;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center; 
}

.search-bar:hover {
  box-shadow: 5px 5px 15px rgba(0,0,0,0.8);
  cursor: text;
}

.searchButton {
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color:#EFFBFF ;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 0px;
  width: 100px;
  height: 30px
}

.searchButton:hover {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
  cursor: pointer;
}

.dropdownSelect {
  font-family: 'Montserrat', sans-serif;
  background-color: #1e425e;
  color: #F4B95F;
  margin-bottom: 8%;
  position: relative;
  left: 40%;
  width: 20%;
  height: 40px;
  border-radius: 10px;
  text-align: 14px;
}
